header, section, footer, aside, nav, article, figure, figcaption {
	display: block;}

body {
	background-color: #BC8F8F;
	background-image: url("resources/sewbg.jpg");
	background-repeat: repeat;
	background-position: center;
	font-family: Georgia, times, serif;
	margin: 0px;
	line-height: 1.5em;
	}


.wrapper {
	width: 1800px;
	margin: 0px auto 0px auto;
	background-color: #FFFFFF;
}	

header{
	height: 200px;
	background-color: #FFC0CB;
}
h1{ font-family: 'Great Vibes', cursive;
	line-height: 2.4em;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 50px;
	color: #2F4F4F;

}
img.icon{
	float: left;
	padding: 20px 20px 10px 20px;
}
nav, footer{
	clear: both;
	color: #ffffff;
	background-color: #DB7093;
	padding: 3px;
	font-size: 20px;
}
nav{

}

nav li{
	display: inline;
	margin-right: 35px;
}
nav li a{
	color: #ffffff;
}
nav li a:hover, nav li a.main{
	color: #000000;
}
section.tools{
	float: right;
	width: 65%;
}
article{
	clear: both;
	overflow: hidden;
	width: 95%;
	height: 500px;
}

h2.title{
	height: 50px;
}
hgroup{
	margin-top: 25px;
}

img.image{
	width: 400px;
	height: 410px;
}

figure{
	float: left;
	width: 400px;
	height: 410px;
	margin: 10px;
	border: 5px solid pink;
}
figcaption{
	font-size: 80%;
	text-align: left;
}
aside{
	width: 240px;
	float: left;
	padding-left: 40px;
	background-color: #D8BFD8;
	width: 26%;
	height: 5150px;
}

a.button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3e8e41;
  border: double;
  border-radius: 15px;
}

a.button:hover {background-color: #9e305c}

a.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(8px);
}

.contact-here{
	padding-top: 4650px;
	padding-left: 40px;
}
.popular_articles{
	line-height: 2em;
	font-size: 17px;
}

aside section a{
	display: block;
}
aside section a:hover {
	color: #000000;
}
a{
	color: #2E8B57;
	text-decoration: none;
}
h1, h3{
	font-weight: bold;
}
aside h2{
	color: #800000;
}
footer{
	font-size: 88%;
}



